body{
    background-color: #2C3034;
}


/**
* Table QUEUE *
*/

.table_list_queue{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0px;
    text-decoration: none;
      display:block;
      padding: 13px;
      text-transform: uppercase;
      position: relative;
    font-size: 90px;
    font-weight: 600;
  }
  
  ul {
      list-style-type: none;
      overflow: hidden;
  }
  
  li {
      display: inline-block;
  }
  
  /**
  * Table QUEUE *
  */
  